.overlay {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.content {
  background: none;
  border: none;
  padding: 0;
  max-width: 90vw;
  max-height: 90vh;
  overflow: hidden;
}

.image {
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
}
